/* 重置样式 */
body, h1, h3, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* 容器设置 */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.background-container {
    background-image: url('image/桌面1.png');
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 80vh;
    position: relative;
}

/* 标题设置 */
.titles {
    text-align: center;
    margin-bottom: 20px;
}

.titles h1, .titles h3 {
    margin: 10px 0;
}

.overlay {
    position: absolute;
 }

#overlay1 {
    top: 0vw;
    left: 30vw;
    width: 25%; /* 图片宽度占据父容器的100% */
    height: auto; /* 高度自动调整，保持图片比例 */
    max-width: 100%; /* 确保图片不会超过父容器 */
}

#overlay2 {
    top: 19vw;
    left: 60vw;
    width: 25%; /* 图片宽度占据父容器的100% */
    height: auto; /* 高度自动调整，保持图片比例 */
    max-width: 100%; /* 确保图片不会超过父容器 */
}

#overlay3 {
    top: 8%;
    left: 11%;
}

#overlay4 {
    top: 25%;
    left: 39%;
}

#overlay5 {
    top: 28%;
    left: 20%;
}

#overlay6 {
    top: 47%;
    left: 35%;
}

#overlay7 {
    top: 53%;
    left: 38%;
}

#overlay8 {
    top: 47%;
    left: 46%;
}

#overlay9 {
    top: 36%;
    left: 37%;
}

#overlay10 {
    top: 20%;
    left: 75%;
}

#overlay11 {
    top: 43%;
    left: 43%;
}

#overlay12 {
    top: 46%;
    left: 21%;
}

#overlay13 {
    top: 18%;
    left: 67%;
}

#overlay14 {
    top: 29%;
    left: 59%;
}

#overlay15 {
    top: 28%;
    left: 30%;
}

#overlay16 {
    top: 44%;
    left: 29%;
}

#overlay17 {
    top: 58%;
    left: 21%;
}

#overlay18 {
    top: 30%;
    left: 55%;
}

#overlay19 {
    top: 15%;
    left: 31%;
}

#overlay20 {
    top: 30%;
    left: 64%;
}



